*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

clr{
    clear: both;
}

.main{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background:url(../images/6.jpg);
    background-color: rgb(47, 48, 49);
    position: relative;
}

.one{
    width: 120px;
    height: 120px;
    background: rgb(147, 98, 98);
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 70%;
    z-index: 1;
}
.two{
    width: 150px;
    height: 150px;
    background: rgb(114, 111, 28);
    position: absolute;
    margin-top: 150px;
    margin-left: 250px;
    border-radius: 50%;

}

.three{
    width: 150px;
    height: 150px;
    background: rgb(55, 131, 101);
    position: absolute;
    margin-top: 300px;
    margin-left: 400px;
    border-radius: 50%;
}
.four{
    width: 150px;
    height: 150px;
    background: rgb(84, 58, 38);
    position: absolute;
    margin-top: 150px;
    margin-left: 400px;
    border-radius: 50%;
}
.five{
    width: 150px;
    height: 150px;
    background: rgb(55, 57, 103);
    position: absolute;
    margin-top: 300px;
    margin-left: 250px;
    border-radius: 50%;
}

.banner{
    width: 1000px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    margin-top: 20px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../images/5.jpg);
    position: relative;
}
.banner::after{
    position: absolute;
    background: rgba(3, 3, 3, 0.532);
    height: 100%;
    width: 100%;
    top:0 ;
    left:0 ;
    content: "";



}
.banner-text{
    position: relative;
    text-align: center;
    z-index: 2;
    
}
.banner-text h2{
    padding-top: 30px;
    color: aliceblue;
    font-size: 50px;
}
.banner-text p{
    padding-top: 50px;
    color: rgb(236, 235, 229);
    font-size: large;
    font-style: oblique;

}